In [47]:
from sklearn.cluster import KMeans
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [19]:
df = pd.read_csv("diabetes_prediction_dataset.csv")
df[df['diabetes'] == 0].value_counts()

gender  age   hypertension  heart_disease  smoking_history  bmi    HbA1c_level  blood_glucose_level  diabetes
Female  80.0  0             0              No Info          27.32  6.2          90                   0           9
                                                                   6.5          159                  0           9
                                                                   4.0          85                   0           8
                                                                                126                  0           7
                                                                                158                  0           7
                                                                                                                ..
        46.0  0             0              No Info          27.95  4.8          85                   0           1
                                                            27.94  6.2          85                   0           1
                                                            27.91  4.8          155                  0           1
                                                            27.89  5.0          159                  0           1
                                                            29.65  3.5          85                   0           1
Name: count, Length: 87664, dtype: int64

In [33]:
(df['diabetes'].value_counts(dropna = False) / df.shape[0])*100
df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

In [34]:
df_d = pd.get_dummies(df)

In [36]:
df_d

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes,gender_Female,gender_Male,gender_Other,smoking_history_No Info,smoking_history_current,smoking_history_ever,smoking_history_former,smoking_history_never,smoking_history_not current
0,80.0,0,1,25.19,6.6,140,0,True,False,False,False,False,False,False,True,False
1,54.0,0,0,27.32,6.6,80,0,True,False,False,True,False,False,False,False,False
2,28.0,0,0,27.32,5.7,158,0,False,True,False,False,False,False,False,True,False
3,36.0,0,0,23.45,5.0,155,0,True,False,False,False,True,False,False,False,False
4,76.0,1,1,20.14,4.8,155,0,False,True,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,80.0,0,0,27.32,6.2,90,0,True,False,False,True,False,False,False,False,False
99996,2.0,0,0,17.37,6.5,100,0,True,False,False,True,False,False,False,False,False
99997,66.0,0,0,27.83,5.7,155,0,False,True,False,False,False,False,True,False,False
99998,24.0,0,0,35.42,4.0,100,0,True,False,False,False,False,False,False,True,False
99999,57.0,0,0,22.43,6.6,90,0,True,False,False,False,True,False,False,False,False

In [40]:
df_d['gender_Female'].value_counts(dropna = False)

gender_Female
True     58552
False    41448
Name: count, dtype: int64

In [41]:
X = df_d.div(df_d.sum(axis = 1), axis = 'rows')

In [48]:
X

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes,gender_Female,gender_Male,gender_Other,smoking_history_No Info,smoking_history_current,smoking_history_ever,smoking_history_former,smoking_history_never,smoking_history_not current
0,0.313984,0.0,0.003925,0.098866,0.025904,0.549472,0.0,0.003925,0.0,0.0,0.0,0.0,0.0,0.0,0.003925,0.0
1,0.317797,0.0,0.0,0.160782,0.038842,0.47081,0.0,0.005885,0.0,0.0,0.005885,0.0,0.0,0.0,0.0,0.0
2,0.126685,0.0,0.0,0.123609,0.02579,0.714867,0.0,0.0,0.004524,0.0,0.0,0.0,0.0,0.0,0.004524,0.0
3,0.162565,0.0,0.0,0.105893,0.022578,0.699932,0.0,0.004516,0.0,0.0,0.0,0.004516,0.0,0.0,0.0,0.0
4,0.292375,0.003847,0.003847,0.077479,0.018466,0.596291,0.0,0.0,0.003847,0.0,0.0,0.003847,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0.389257,0.0,0.0,0.132931,0.030167,0.437914,0.0,0.004866,0.0,0.0,0.004866,0.0,0.0,0.0,0.0,0.0
99996,0.015641,0.0,0.0,0.135841,0.050833,0.782044,0.0,0.00782,0.0,0.0,0.00782,0.0,0.0,0.0,0.0,0.0
99997,0.25728,0.0,0.0,0.108486,0.02222,0.604218,0.0,0.0,0.003898,0.0,0.0,0.0,0.0,0.003898,0.0,0.0
99998,0.145085,0.0,0.0,0.214122,0.024181,0.604522,0.0,0.006045,0.0,0.0,0.0,0.0,0.0,0.0,0.006045,0.0
99999,0.320171,0.0,0.0,0.12599,0.037072,0.505533,0.0,0.005617,0.0,0.0,0.0,0.005617,0.0,0.0,0.0,0.0

In [52]:
km = KMeans(n_clusters = 8)
km.fit_predict(X)

array([1, 7, 0, ..., 3, 6, 7], dtype=int32)

In [ ]:
distortions = []
n_clusters = range(2,15)
for n_clus in n_clusters:
    print(n_clus)
    distortions.append(KMeans(n_clusters = n_clus, max_iter = 10_000, n_init = 100, random_state = 61658).fit(X).inertia_)