In [12]:
from datetime import datetime
import numpy as np             #for numerical computations like log,exp,sqrt etc
import pandas as pd            #for reading & storing data, pre-processing
import matplotlib.pylab as plt #for visualization
#for making sure matplotlib plots are generated in Jupyter notebook itself

In [13]:
import warnings
warnings.filterwarnings('ignore')

In [14]:
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.stattools import acf, pacf
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.arima_model import ARIMA
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 10, 6

In [15]:
data = pd.read_csv("AirPassengers.csv")
data.head()

     Month  #Passengers
0  1949-01          112
1  1949-02          118
2  1949-03          132
3  1949-04          129
4  1949-05          121

In [16]:
data['Month'] = pd.to_datetime(data['Month'], infer_datetime_format=True)

indexedDataset = data.set_index(['Month'])
indexedDataset.head()

            #Passengers
Month
1949-01-01          112
1949-02-01          118
1949-03-01          132
1949-04-01          129
1949-05-01          121

In [ ]:
plt.plot(indexedDataset, color='black')
plt.xlabel('Date')
plt.ylabel('Number of passengers.')